<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.dbShop_ConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=database_mau;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>